# Supabase Ana Bağlantı Ayarları
NEXT_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL_HERE
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY_HERE
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY_HERE



# Uygulama
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_MAP_CENTER_LAT=36.8841
NEXT_PUBLIC_MAP_CENTER_LNG=30.7056

# Netgsm SMS API Ayarları
NETGSM_USERCODE=YOUR_NETGSM_USERCODE_HERE
NETGSM_PASSWORD=YOUR_NETGSM_PASSWORD_HERE
NETGSM_SENDER=YOUR_NETGSM_HEADER_HERE
